version: "3.8"

services:
    bot:
        build: .
        container_name: foodguard_bot
        depends_on:
            - redis
            - postgres
        ports:
            - "3000:3000"
        environment:
            BOT_SECRET_TOKEN: ${BOT_SECRET_TOKEN}
            REDIS_PASSWORD: ${REDIS_PASSWORD}
            REDIS_USERNAME: ${REDIS_USERNAME}
            REDIS_HOST: redis
            REDIS_PORT: ${REDIS_PORT}
            DB_USER: ${DB_USER}
            DB_HOST: postgres
            DB_NAME: ${DB_NAME}
            DB_PASSWORD: ${DB_PASSWORD}
            DB_PORT: ${DB_PORT}
            DATABASE_URL: postgresql://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}
        networks:
            - internal

    redis:
        image: redis:7
        container_name: redis-server
        environment:
            - REDIS_PASSWORD=${REDIS_PASSWORD}
        command:
            [
                "redis-server",
                "--requirepass",
                "${REDIS_PASSWORD}",
                "--appendonly",
                "yes",
                "--appendfsync",
                "everysec",
            ]

        volumes:
            - redis_data:/data
        restart: unless-stopped
        networks:
            - internal

    postgres:
        image: postgres:15-alpine
        container_name: database-postgres
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        restart: unless-stopped
        networks:
            - internal
    pg-backup:
        image: postgres:15-alpine
        container_name: database-postgres-backup
        depends_on:
            - postgres
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        volumes:
            - ./backups:/backup
        entrypoint: >
            sh -c "export PGPASSWORD=$DB_PASSWORD;
                  while true; do
                    pg_dump -h postgres -U $DB_USER $DB_NAME > /backup/db-$(date +%F-%H-%M-%S).sql;
                    echo 'Backup created at /backup/db-$(date +%F-%H-%M-%S).sql';
                    sleep 86400;
                  done"
        networks:
            - internal
        restart: unless-stopped
volumes:
    postgres_data:
    redis_data:

networks:
    internal:
        driver: bridge
